<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro&display=swap" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container vision">
      <img src="../assets/images/people.png" alt="">
      <div class="vision-content">
          <h1>Hi<br>I’m a front-end<br>developer</h1>
          <span class="name">William</span>
          <a class="btn" href="">contact me</a>
      </div>
    </div>
    
    <div class="intro-wrap">
      <div class="container intro">
        <div class="intro-content">
          <h2>Introduction</h2>
          <p>Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
          <img src="../assets/images/sparkle-sm.png" alt="">
        </div>
        <img src="../assets/images/sparkle.png" alt="">
        <img src="../assets/images/photographer.png" alt="">
        <img src="../assets/images/people-2.png" alt="">      
      </div>   
    </div>

    <div class="about-wrap">
      <div class="container about">
        <ul class="about-list">
          <li><span>01</span><br><span>Attention to Detail</span><br><span>Meticulous code analysis and optimization.</span></li>
          <li><span>02</span><br><span>Adaptability</span><br><span>Swift learning of new technologies.</span></li>
          <li><span>03</span><br><span>Problem Solver</span><br><span>Identifying and resolving issues.</span></li>
          <li><span>04</span><br><span>Team Player</span><br><span>Collaborates and shares ideas.</span></li>
        </ul>
        <div class="about-content">
          <h2>About Me</h2>
          <p>With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
        </div>
      </div>
    </div>
    

    <div class="contact-wrap">
      <div class="container contact">
        <h2>CONTACT ME</h2>
        <img src="../assets/images/discord.png" alt="">
        <img src="../assets/images/instagram.png" alt="">
        <img src="../assets/images/message.png" alt="">
      </div>
    </div>

    <div class="project-wrap">
      <div class="container project">
        <img class="mr-24" src="../assets/images/Rectangle 10.png" alt="">
        <div class="project-content">
          <h2>My Projects</h2>
          <div class="flex mb-28">
            <img class="mr-24" src="../assets/images/Rectangle 15.png" alt="">
            <div class="flex flex-col justify-between">
              <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>
              <a class="btn btn-black" href="">SEE MORE</a>
            </div>
          </div>
          <div class="photo"><img class="mr-24" src="../assets/images/Rectangle 14.png" alt=""><img src="../assets/images/Rectangle 29.png" alt=""></div>
        </div>
      </div>
    </div>

    <!-- <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat"> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
